.reviews {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-top: 100px !important;
  margin: 0 auto;
  text-align: left;
}

.ratings {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.invisibleButton {
  width: fit-content !important;
  border: none;
  background: none;
}

.start {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-basis: 100%;
}

.input {
  border-radius: 8px;
  border: 1px solid #d4d2d0;
  background-color: #fff;
  padding: 0.5rem 1rem;
  height: 40px;
  width: 600px;
}
.bold-input {
  border-radius: 0.25rem;
  border: 2px solid #909090;
  background-color: #fff;
  padding: 0.5rem 1rem;
  height: 40px;
  width: 600px;
}

select {
  border-radius: 8px;
  border: 1px solid #d4d2d0;
  background-color: #fff;
  padding: 0.5rem 1rem;
  height: 40px;
}

textarea {
  border-radius: 0.25rem;
  border: 1px solid #d4d2d0;
  background-color: #fff;
  padding: 0.5rem 1rem;
  width: 600px;
}

button {
  background-color: white;
  width: fit-content;
  border: 1px solid #d4d2d0;
  /* padding: 5 15px; */
}

.short {
  width: 150px !important;
  margin-right: 10px;
}

.medium {
  width: 450px;
}

.long {
  width: 600px !important;
}

.bold {
  font-weight: 800;
}

.section {
  border-bottom: 2px solid;
  border-color: #f2f2f2;
  padding: 0 10px 25px 25px;
}

.custom-btn {
  width: 90px;
  border-radius: 50px;
  padding: 10px 66px;
  color: #085ff7;
  background: #ffffff;
}
.custom-btn:active {
  background: #085ff7;
  color: #ffffff;
}
.submit-btn {
  width: 200px;
  height: 50px;
  /* padding: 16px; */
  background: #2557a7;
  color: #ffffff;
  font-weight: 700;
  border-radius: 6.25rem;
  cursor: pointer;
  font-size: medium;
  text-align: center;
}

.company-image {
  height: 300px;
  background-image: url("https://picsum.photos/1200/300/");
}

.company-title-overview {
  padding: 15px;
  height: 150px;
  width: 70%;
  margin: 0 auto;
}

.primary-rounded-button {
  border-radius: 5px;
  padding: 5px 30px;
  border: none;
  background: black;
  color: white;
}

.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 4px rgb(0 0 0 / 20%);
  z-index: 20;
  transition: box-shadow 0.1s ease-in-out;
  transition-delay: 0.1s;
}

.content {
  width: 70%;
  margin: 0 auto;
  background-color: #fff;
  text-align: left;
}

.side-heading {
  text-align: left !important;
  margin: 15px 0;
}

.rounded-pill {
  height: 40px;
  min-width: 120px;
  width: fit-content;
  border-radius: 20px;
  border: 1px solid;
  padding: 5px;
  text-align: center;
  background-color: #fff;
}

.tabs {
  padding: 16px;
}

.rounded-corners {
  border-radius: 8px;
}

.label {
  font-weight: bolder;
  text-align: left;
  /* margin: 8px 0px; */
}

.question-label {
  text-align: left;
  margin-bottom: 10px 0px;
  color: #4b4b4b;
  font-weight: bolder;
}

.sortby-btn {
  height: 40px;
  padding: 0 15px;
  color: #2557a7;
}
.sortby-btn:hover {
  border-color: #6792f0;
  background-color: #eef1fe;
}
.sortby-btn:nth-child(1) {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.sortby-btn:nth-child(3) {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.review-button {
  background: #f3f2f1;
  border: none;
  padding: 10px;
  font-size: 12px;
  border-radius: 8px;
  margin: 10px 10px 0 0;
}

.review-button:hover {
  background: #d4d2d0;
}

.button-secondary {
  padding: 0 20px;
  color: #2557a7;
  height: 40px;
  border-radius: 10px;
}

.button-secondary:hover {
  border-color: #6792f0;
  background-color: #eef1fe;
}

.link {
  text-decoration: none;
}

.companyDetails-card {
  width: 140px;
  height: 120px;
  margin: 8px;
  padding: 16px;
  border-radius: 5px;
  border: 1px solid #d4d2d0;
}

.star {
  margin-left: 5px;
  border-radius: 2px solid black;
}

.required {
  margin-left: 4px;
  margin-top: -2px;
  color: red;
  width: 20px;
  height: 16px;
}

.jobCard {
  width: 380px;
  /* height: 130px; */
  padding: 14px 24px 8px 10px;
  background-color: #fff;
  text-align: left;
}
.jobListItem {
  border-bottom: 2px solid;
  border-color: #f2f2f2;
  position: relative;
  width: 380px;
  /* overflow: scroll; */
  height: 580px;
}
black {
  color: #000;
}
.job-desc {
  background-color: #fff;
  overflow: scroll;
  height: 400px;
}
.job-desc-header {
  height: 180px;
  padding: 24px 10px;
  background-color: #fff;
}
